*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins',sans-serif;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 5px;
}
nav{
    flex:1;
    text-align: right;

}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 10px;
}
a{
    text-decoration: none;
    color: #555;
}

p{
    color: #555;
}
.container{
    max-width: 1100px;
    margin: auto;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2{
    flex-basis: 100%;
    min-width: 300px;
}

.col-2 img{
    max-width: 100%;
    padding: 20px 10px;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin:25px 0; 
}

.btn{
    display: inline-block;
    background:#ff523b;
    color:#fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}

.header{
    background: radial-gradient(#fff,#ffd6d6);
}
.header .row{
    margin-top: 70px;

}
.categories{
    margin:70px 0;
}

.col-3{
    flex:30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col-3 img{
    width:100%;
}
.small-container{
    max-width: 1080px;
    margin:auto;
    padding-left: 25px;
    padding-right: 25px;
}

.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width:200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col-4 img{
    width: 100%; 
}

.title{
    text-align: center;
    margin: auto;
    position: relative;
    line-height: 60px;
    color: #555;
}
.title::after{
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
h4{
    color: #555;
    font-weight: normal;
}
.col-4 p{
    font-size: 14px;
}
.rating .fa{
    color: #ff523b;
}
.col-4 :hover{
    transform: translateY(-5px);
}

.offer{
    background:radial-gradient(#fff,#ffd6d6);
    margin-top: 80px;
    padding:30px 0;
}

.col-2 .offer-img{
    padding: 50px;

}
small{
    color: #555;
}

/-----testimonial--------/
.testimonial{
    padding-top: 100px;
}

.testimonial col-3{
    text-align: center;
    padding:40px 20px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: transform 0.5s;
}
.testimonial col-3 img{
    width: 50px;
   margin-top:20px ;
   border-radius: 50%;
}


.testimonial .col-3:hover{
   transform: translateY(-10px);
}

.fa.fa-quote-left{
    font-size: 34px;
    color: #ff523b;
}
.col-3 p{
    font-size: 12px;
    margin: 12px 0;
    color: #777;
}
.testimonial col-3 h3{
   font-weight: 600;
   color: #555;
   font-size: 16px;
}
.sliderss{
    width: 100%;
 }
.auto-sliding{
   margin: 50px auto;
   width: 1655px;
   height: 200px;
   overflow-x: hidden;
   overflow-y: hidden;
   /* outline: 5px solid #70db70; */
   float: left;
   padding:0px;
   margin:0px;
} 
 
.autoslide{
   list-style: none;
   display: flex;
   /* position: relative;
   left: -720px; 
   transform: translateX(-720px); */
   animation-name: slide;
   animation-duration: 12s;
   animation-iteration-count: infinite;
   animation-timing-function: ease-in-out;
   left: 0px;
}
/* .autoslide:hover{
   animation-play-state: paused;
} */
@keyframes slide{
  10%{
     transform: translateX(-40px);
  }
  15%, 30%{
     transform: translateX(-795px);
  }
  35%, 50%{
     transform: translateX(-1540px);
  }
  55%, 70%{
     transform: translateX(-2305px);
  }
  85%, 90%{
     transform: translateX(-40px);
  }
}
.inputt-box{
    width: 550px;
    height: 190px;
    background: rgba(0, 0, 0, 0.8);
    margin: 2% auto;
    padding: 10px 3px;
    border-radius: 3%;
    box-shadow: 0 0 40px 4px rgba(0,0,0,0.5);
    transform: translate(0%, 5%) scale(1);
    transition: all 300ms ease-in-out 70ms;
  }
.popupp{
    background-image: url(images/89.jpg);
    width: 900px;
    height: 550px;
    padding: 15px 15px;
    background-size: cover;
    border-radius: 10px;
    border:2px solid rgb(255, 255, 153);
    box-sizing: border-box;
    z-index: 2;
    text-align: center;
    opacity: 0;
    top: -200%;
   transform: translate(-50%, -50%) scale(0.5);
   transition: opacity 300ms ease-in-out,
         top 1000ms ease-in-out,
         transform 300ms ease-in-out; 
   

  } 
 .popupp.active{
      opacity: 1;
      top: 50%;
      transform: translate(-50%, -50%) scale(1);
      transition: transform 300ms cubic-bezier(0.18, 0.89, 0.43, 1.19);
    }
 .popupp .icon{
   margin: 5px 0px;
   width: 30px;
   height: 30px;
   text-align: center;
   display: inline-block;
   border-radius: 50%;
   line-height: 10px;
  }
.popupp .icon i.fa{
    font-size: 30px;
    color: #34f234;
 }
.popupp .title{
   margin: 5px 0px;
   font-size: 16px;
   font-weight: 600;
   color: #fff;
 }
.popupp .description{
   color: #34f234;
   font-size: 12px;
   padding: 3px;
}
.popupp .dismiss-btn{
   margin-top: 15px;
 }
p{
   font-size: 10px;
 }
.popupp .dismiss-btn button{
 padding: 10px 20px;
 background: #111;
color: #f5f5f5;
border: 2px solid rgb(255, 255, 153);
font-size: 12px;
font-weight: 600;
outline: none;
border-radius: 10px;
cursor: pointer;
transition: all 300ms ease-in-out;
}
.popupp .dismiss-btn button:hover{
color: #111;
background: #f5f5f5;
}
.popupp > div {
 position: relative;
 top: 10px;
 opacity: 0;
}
.popupp.active > div{
 top: 0px;
 opacity: 1;
}
.popupp.active .icon{
 transition: all 300ms ease-in-out 200ms; 
}
.popupp.active .title{
 transition: all 300ms ease-in-out 250ms;
}
.popupp.active .description{
transition: all 300ms ease-in-out 300ms;
}
.popupp.active .dismiss-btn{
 transition: all 300ms ease-in-out 350ms;
}
.centerr{
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%,-50%);
}
.inputtt-box{
    width: 850px;
    height: 400px;
    background: rgba(0, 0, 0, 0.8);
    margin: 2% auto;
    padding: 10px 10px;
    border-radius: 3%;
    box-shadow: 0 0 40px 4px rgba(0,0,0,0.5);
    transform: translate(0%, 5%) scale(1);
    transition: all 300ms ease-in-out 70ms;
  }
 
  .poppin{
     background-image: url(images/89.jpg);
     width: 990px;
     height: 600px;
     padding: 5px 5px;
     background-size: cover;
     border-radius: 10px;
     border:2px solid rgb(255, 255, 153);
     box-sizing: border-box;
     z-index: 2;
     text-align: center;
     opacity: 0;
     top: -200%;
     transform: translate(-50%, -50%) scale(0.5);
      transition: opacity 300ms ease-in-out,
          top 1000ms ease-in-out,
          transform 300ms ease-in-out; 
   } 
   .poppin.active{
       opacity: 1;
       top: 50%;
       transform: translate(-50%, -50%) scale(1);
       transition: transform 300ms cubic-bezier(0.18, 0.89, 0.43, 1.19);
     }
  .poppin .icon{
    margin: 5px 0px;
    width: 30px;
    height: 30px;
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    line-height: 10px;
   }
 .poppin .dismiss-btn button{
  padding: 10px 20px;
  background: #111;
 color: #f5f5f5;
 border: 2px solid rgb(255, 255, 153);
 font-size: 12px;
 font-weight: 600;
 outline: none;
 border-radius: 10px;
 cursor: pointer;
 transition: all 300ms ease-in-out;
 }
 .poppin .dismiss-btn button:hover{
 color: #111;
 background: #f5f5f5;
 }
 .poppin > div {
  position: relative;
  top: 10px;
  opacity: 0;
 }
 .poppin.active > div{
  top: 0px;
  opacity: 1;
 }
 .poppin.active .icon{
  transition: all 300ms ease-in-out 300ms; 
 }
 .poppin.active .title{
  transition: all 300ms ease-in-out 350ms;
 }
 .poppin.active .description{
 transition: all 300ms ease-in-out 400ms;
 }
 .poppin.active .dismiss-btn{
  transition: all 300ms ease-in-out 450ms;
 }
 .poppin .icon i.fa{
     font-size: 30px;
     color: #34f234;
  }
 .poppin .title{
    margin: 5px 0px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
  }
 
 .poppin .description{
    color: #34f234;
    font-size: 12px;
    padding: 3px;
 }
 .poppin .dismiss-btn{
    margin-top: 15px;
  }
  .inputttt-box{
    width: 850px;
    height: 400px;
    background: rgba(0, 0, 0, 0.8);
    margin: 2% auto;
    padding: 5px 5px;
    border-radius: 3%;
    box-shadow: 0 0 40px 4px rgba(0,0,0,0.5);
    transform: translate(0%, 5%) scale(1);
    transition: all 300ms ease-in-out 70ms;
  } 
  .con{
     margin: auto;
     padding: 5px 5px;
     align-items: center;
     text-align: right;
     transition: transform .5s; 
     background-color: #cccc00;
  }
  .btn:hover{
    /* transform: scale(1.1);   */
    background-color: #4CAF50;
    color: white;
  }
  .btnsbro{
     margin: auto;
     padding: 10px;
     width: 100%;
     box-shadow: 0 0 10px 1px rgba(0,0,0,0.5);
     /* width: 50%;
     border: 3px solid white;
     padding: 10px; */
  }
  .table{
   width: 100%;
    height: 200px;
    margin: 2% auto;
    padding: 8px 5px;
    box-shadow: 0 0 10px 4px rgba(0,0,0,0.5);
  }
  .column{
     transition: transform .5s; 
  }
  .column:hover{
     transform: scale(1.1); 
   }
   #footer{
    position: absolute;
    width: 100%;
    height: 200px;
  }